@require 'settings/breakpoints'

.AddAccountLink.AddAccountLink
    margin 0 auto
    width 512px

    +small-screen()
        width calc(100vw - 2rem)
        margin 2rem 0 0
        bottom 0
        position relative

.AddAccountLink--absolute
    position absolute
    bottom -24px
    left 0
    right 0
