@require 'tools/mixins'
@require 'settings/breakpoints'

.bnk-chart
    canvas
        max-width 100%
        margin-left auto

+small-screen()
    .bnk-chart
        margin-top 0

        canvas
            margin-right auto
