.PendingCategoryIcon
    display inline-flex
    align-items center
    justify-content center
    background-color var(--silver)
    border-radius 50%

    svg
        height 100%
        width 100%
