.search-bar-background--light
    background-color rgba(255, 251, 254, 1) !important
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.10), 0px 8px 10px -6px rgba(0, 0, 0, 0.10) !important;

.search-bar-background--dark
    background-color rgba(44, 48, 57, 1) !important
    box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.1), 0px 20px 25px -5px rgba(0, 0, 0, 0.1) !important;
