@require '~styles/mixins.styl'

.ColumnSizeLabel
    maxed-flex-basis 40%
    padding-left 4rem

.ColumnSizeLastOccurence
    maxed-flex-basis 15%
    color var(--coolGrey)
    text-align right

.ColumnSizeFrequency
    color var(--coolGrey)
    maxed-flex-basis 20%
    text-align right

.ColumnSizeAmount
    maxed-flex-basis 25%
    text-align right

.BundleRow + .BundleRow
    border-top 1px solid var(--silver)

.BarButtonRight
    margin-right -1rem
