/*
.codehilite {
  margin: .5em 0;
  padding: .5em;
  background-color: #FFF;
  border: 1px solid #e1e4e5;
}
*/

body {
  font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 70px;
  background: #fff;
  font-size: 16px;
}

.navbar {
  background-image: none;
  background-color: inherit;
  border-bottom: 1px solid #aaa;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb',endColorstr='#ff1d9ce5',GradientType=0);
  filter: none;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

.navbar-default .navbar-brand {
  color: #297ef2;
  text-shadow: none;
  float: left;
}

.navbar-default .navbar-brand:hover {
  color: #0B61D6;
}

h1, h2, h3, h4, h5, h6, legend {
  font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.4rem;
  margin: 1.5em 0 0.5em 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

a {
  color: #297ef2;
}

a:hover, a:active {
  color: #297ef2;
}


.navbar-default .navbar-nav>li>a {
  color: #bbb;
}

.navbar .navbar-nav>li>a, .navbar-brand {
  text-shadow: none;
}

.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #297ef2;
  background-color: transparent;
  border-left: 5px solid #297ef2;
  border-right: none;
}

.navbar .navbar-nav>li>a:hover {
  color: #fff;
  background-color: #297ef2;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #297ef2;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: #297ef2;
}

.navbar-default .navbar-toggle {
  border-color: #297EF2;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #297EF2;
}

.navbar-default .navbar-toggle .icon-bar {
  color: #fff;
  background-color: #297ef2;
}

.navbar-default .navbar-toggle .icon-bar:hover, .navbar-default .navbar-toggle .icon-bar:focus {
  color: #297EF2;
  background-color: #FFF;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus, .dropdown-menu>li>a:hover {
  color: #fff;
  background-color: #297ef2;
}

.home-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: none;
  font-size: 1.2em;
}
.home-action {
  width: calc(50% - 2em);
  margin: 1em
}

.home-action > * {
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 5px 20px rgba(116, 129, 146, 0.12), 0 1px 3px rgba(116, 129, 146, 0.19);
  color: #748192;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  line-height: 1.2;
  padding: 2em;
  text-align: center;
  width: 100%;
}
.home-action img {
  width: 3em;
  padding-bottom: 1em;
}

.home-action a {
  color: #444;
}

.wy-nav-content{
  max-width: 1400px;
  background: #fff;
}

.wy-nav-side {
  background: #F5F6F7;
  border-right: 1px solid #d6d8da;
}

.wy-side-nav-search {
  background-color: #F5F6F7;
}

.wy-side-nav-search a {
  color: #297ef2;
  font-weight: bold;
}

.wy-menu-vertical span {
  font-size: 1.2rem;
  color: #32363f;
  text-align: center;
  padding: 1rem;
}

.wy-menu-vertical a {
  color: #5d6165;
}
.wy-menu-vertical li.current {
  background: none;
}

.wy-menu-vertical li.on a,
.wy-menu-vertical li.current>a {
  color: #297ef2;
  border: none;
  border-left: 5px solid #297ef2;
  background: none;
}

.bs-sidebar .nav > li > a {
  color: #444;
}

.download-button {
  width: 200px;
}
.download-block {
  width: calc(49% - 2em);
  margin: 1em;
  float: left;
}
.download-link {
  margin: 0 0 2em 0;
}
.download-link a {
  color:#FFF;
  background-color: #297ef2;
  font-weight: bold;
  padding: 1em;
  border-radius: .25em;
}
.page-404 {
  font-size: 1.6em;
  font-weight: bolder;
  margin: 10vw;
  text-align: center;
}

.col-md-9 img {
  border: none;
}

/* media query to make the nav bar collapse sooner */
@media (max-width: 990px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar .container {
    width: 100%;
  }
}
