@require 'settings/breakpoints'
@require '~styles/mixins.styl'

.AcnsStg
    &__accounts
        @extend $full-width-table
        padding-bottom 2rem

        td
            text-overflow ellipsis
            overflow hidden
            white-space nowrap

    &__libelle
        maxed-flex-basis 25%
        composes mobile-row-main from '../../components/Table/styles.styl'

    &__bank
        maxed-flex-basis 20%

        +small-screen
            maxed-flex-basis 33%

    &__number
        maxed-flex-basis 15%
        color var(--coolGrey)

        +small-screen()
            td&
                maxed-flex-basis 33%

    &__type
        maxed-flex-basis 15%
        color var(--coolGrey)

        +small-screen()
            td& // increase selectivity with td
                display none

    &__shared,
    &__owner
        maxed-flex-basis 15%

    &__owner
        color var(--coolGrey)

        +small-screen()
            td&
                display none

    &__actions
        maxed-flex-basis 10%
        text-align right

        +small-screen()
            td& // increase selectivity with td
                display none

    &__accountRow
        composes mobile-row from '../../components/Table/styles.styl'
        composes nav-row from '../commons/mobile.styl'// @stylint ignore

    &__bank, &__number, &__shared, &__owner
        composes mobile-row-label from '../../components/Table/styles.styl'

.AcnsStg__libelleInner
    display flex

    > *
        overflow hidden
        text-overflow ellipsis

    +small-screen()
        padding-right 0.5rem

.AcnStg
    &__tabList
        @extend $full-width
        padding-top 1rem

    +small-screen()
        &__tabList
            display flex
        &__tab
            width 100%
            text-align center

    &__info
        width 100%
        margin-bottom 1rem
        tr
            td
                border-bottom .25rem transparent solid

            &:hover
                background transparent

            td:first-child
                color var(--coolGrey)
                font-size .85rem
