.SelectBox
    display inline-block
    width 7rem
    border-radius 0

.AccountsAssociationSelect
    display flex
    align-items center

    > *
        flex-grow 1
        margin-left 0.25rem
        margin-right 0.25rem

        &:first-child
            margin-left 0

        &:last-child
            margin-right 0
