@require 'components/forms.styl'
@require 'settings/breakpoints'
@require '~styles/mixins.styl'

.GrpsStg__table
    @extend $full-width-table

    td
        text-overflow ellipsis
        overflow hidden
        white-space nowrap

.GrpsStg__label
    maxed-flex-basis 25%

.GrpsStg__accounts.GrpsStg__accounts
    maxed-flex-basis 75%

    +small-screen()
        maxed-flex-basis 100%

.GrpStg__table
    @extend $full-width-table

.GrpStg__form
    +small-screen()
        input[type=text]
            width 100%

.GrpStg__accntLabel
    maxed-flex-basis 25%

.GrpStg__accntBank
    maxed-flex-basis 20%

.GrpStg__accntNumber
    maxed-flex-basis 20%
    word-break break-all

.GrpStg__accntGroups
    maxed-flex-basis 25%

.GrpStg__accntToggle
th.GrpStg__accntToggle
    maxed-flex-basis 10%
    justify-content right

+small-screen()
    .GrpStg__accntLabel
        maxed-flex-basis 35%

    .GrpStg__accntBank
        maxed-flex-basis 25%

    .GrpStg__accntNumber
        maxed-flex-basis 25%

    .GrpStg__accntToggle
        maxed-flex-basis 15%


// Increase specificity to override properties applied to table &__table td
.GrpStg__table .GrpStg__accntToggle
    // Do not let the switch extend vertically the cell
    max-height 2rem
    align-items center
    display flex
