@require 'components/forms.styl'
@require 'settings/breakpoints'
@require '~styles/mixins.styl'

.GrpsStg
    &__table
        @extend $full-width-table

        td
            text-overflow ellipsis
            overflow hidden
            white-space nowrap

    &__label
        maxed-flex-basis 25%

    &__accounts&__accounts
        maxed-flex-basis 75%

        +small-screen()
            maxed-flex-basis 100%

.GrpStg
    &__table
        @extend $full-width-table

    &__form
        @extend $form
        @extend $form-text

        input[type=text]
            // to have the same height as the buttons
            padding 0.625rem

        +small-screen()
            input[type=text]
                width 100%

    &__accntLabel
        maxed-flex-basis 25%

    &__accntBank
        maxed-flex-basis 25%

    &__accntNumber
        maxed-flex-basis 30%
        word-break break-all

    &__accntToggle
        maxed-flex-basis 20%

    // Increase specificity to override properties applied to table &__table td
    &__table &__accntToggle
        // Do not let the switch extend vertically the cell
        max-height 2rem
        align-items center
        display flex
