@require 'settings/breakpoints'

// We want fields that are not a CollectionField to align their right edge with
// CollectionField fields right edge.
right_padding = 2.5rem

.TextField
    width 100%

.FormControls
    position fixed
    bottom 0
    left 0
    right 0
    background-color white
    height 3.5rem
    z-index 20
    display flex
    align-items center
    padding 0 0.5rem
    box-shadow 0 -2px 2px 0 rgba(0, 0, 0, 0.06)

    > *
        flex-grow 1

    > :first-child
        margin-left 0

    > :last-child
        margin-right 0

    +medium-screen('min')
        position static
        box-shadow unset
        padding 0
        justify-content flex-end
        height auto
        margin-top 2rem
        padding-right right_padding

        > *
            flex-grow 0

.Form__field
    padding-right right_padding

.Menu__btn
    height 100%
    border 0
