h4
    color var(--charcoalGrey)
    font-size 1.2em

h5
    color var(--charcoalGrey)
    font-size 1em
    margin-top 0
    margin-bottom 5px

.Section + .Section
    margin-top 1.5rem

.SubSection
    max-width 600px

.SubSection + .SubSection
    margin-top 1.25rem

.SectionDescription
    color var(--coolGrey)

.SubSectionDescription
    color var(--coolGrey)
