@require 'settings/breakpoints'
@require '~styles/variables.styl'
@require '~styles/mixins.styl'

.bnk-coz-tab-list
    padding-left content-padding

.bnk-tabs
    +small-screen()
        padding-top 1rem

.bnk-tabs .bnk-coz-tab-list
    +small-screen()
        display flex
        padding-left 0

        & > *
            width 100%
            text-align center


.settings__title
    padding 1.5rem 2rem

    +small-screen()
        padding 0

.TabPanels
    overflow-y auto
