@require 'settings/breakpoints'
@require '~styles/variables.styl'
@require '~styles/mixins.styl'

.bnk-coz-tab-list
    padding-left content-padding

+small-screen()
    .bnk-coz-tab-list
        box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.16)

.bnk-tabs .bnk-coz-tab-list
    +small-screen()
        display flex
        padding-left 0
        border-bottom 0

        & > *
            width 100%
            text-align center


.settings__title
    padding 1.5rem 2rem

    +small-screen()
        padding 0

.TabPanels
    overflow-y auto
