
h4
    color var(--charcoalGrey)
    font-size 1.2em

h5
    color var(--charcoalGrey)
    font-size 1em
    margin-top 0
    margin-bottom 5px

.ToggleRow__wrapper
    max-width 600px
    margin-bottom 20px

.ToggleRow__body
    display flex
    justify-content flex-start
    align-items center

.ToggleRow__description
    color var(--coolGrey)
    flex-grow 1
    margin 0
    font-size .9em

.ToggleRow__input
    display inline-flex
    margin 0 5px
    width 4.5em
    padding .5em .3em
    align-items center
    border 1px solid var(--silver)

    input[type='text'],
    input[type='number']
        box-sizing border-box
        width 100%
        border 0
        background-color var(--white)
        color var(--black)
        -moz-appearance textfield

    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button
        -webkit-appearance none

    ::-webkit-contacts-auto-fill-button
        visibility hidden
        display none
        pointer-events none

.ToggleRow__inputContainer
    flex-basis 100%

.ToggleRow__toggle span
    vertical-align middle
