<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= htmlWebpackPlugin.options.title %></title>
<link rel="manifest" href="/manifest.json" crossOrigin="use-credentials">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, viewport-fit=cover">
<% _.forEach(htmlWebpackPlugin.files.css, function(file) { %>
  <link rel="stylesheet" href="<%- file %>">
<% }); %>
</head>
<body>
<div
  role="application"
  >
<% _.forEach(htmlWebpackPlugin.files.js, function(file) { %>
  <script src="<%- file %>"></script>
<% }); %>
</body>
</html>
