<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="io.cozy.banks.mobile" android-versionCode="1380000" ios-CFBundleIdentifier="io.cozy.banks" ios-CFBundleVersion="1.38.0.0" version="1.38.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cozy Banks</name>
    <description>The banking application for Cozy</description>
    <author email="contact@cozycloud.cc" href="https://cozy.io">Cozy Cloud</author>
    <preference name="AppendUserAgent" value="io.cozy.banks.mobile-1.38.0" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <hook src="scripts/customizeConfigXML.js" type="before_prepare" />
    <universal-links>
        <host name="links.mycozy.cloud" scheme="https">
            <path event="openUniversalLink" scheme="https" url="/banks/*" />
        </host>
        <ios-team-id value="3AKXFMV43J" />
    </universal-links>
    <preference name="android-targetSdkVersion" value="29" />
    <platform name="android">
        <config-file parent="/manifest/application" target="app/src/main/AndroidManifest.xml">
            <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
            <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
            <meta-data android:name="google_analytics_ssaid_collection_enabled" android:value="false" />
        </config-file>
        <icon density="ldpi" src="res/icons/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="res/icons/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="res/icons/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="res/icons/android/icon-96-xhdpi.png" />
        <icon density="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png" />
        <splash density="land-hdpi" src="res/screens/android/screen-hdpi-landscape.png" />
        <splash density="land-ldpi" src="res/screens/android/screen-ldpi-landscape.png" />
        <splash density="land-mdpi" src="res/screens/android/screen-mdpi-landscape.png" />
        <splash density="land-xhdpi" src="res/screens/android/screen-xhdpi-landscape.png" />
        <splash density="land-xxhdpi" src="res/screens/android/screen-xxhdpi-landscape.png" />
        <splash density="land-xxxhdpi" src="res/screens/android/screen-xxxhdpi-landscape.png" />
        <splash density="port-hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
        <splash density="port-ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />
        <splash density="port-xxhdpi" src="res/screens/android/screen-xxhdpi-portrait.png" />
        <splash density="port-xxxhdpi" src="res/screens/android/screen-xxxhdpi-portrait.png" />
        <preference name="android-minSdkVersion" value="21" />
        <resource-file src="keys/android/google-services.json" target="app/google-services.json" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <preference name="deployment-target" value="11.0" />
        <config-file overwrite="true" parent="FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED" platform="ios" target="*-Info.plist">
            <true />
        </config-file>
        <config-file overwrite="true" parent="GOOGLE_ANALYTICS_IDFV_COLLECTION_ENABLED" platform="ios" target="*-Info.plist">
            <false />
        </config-file>
        <config-file parent="UIUserInterfaceStyle" platform="ios" target="*-Info.plist">
            <string>Light</string>
        </config-file>
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="Suppresses3DTouchGesture" value="true" />
        <preference name="DisallowOverscroll" value="true" />
        <!--
          "ScrollEnabled" is used by cordova-plugin-ionic-keyboard. Without it, the scrolling is deactivated. We should revisit this change if we ever use cordova-plugin-ionic-webview.
          See https://github.com/ionic-team/cordova-plugin-ionic-webview#scrollenabled
        -->
	       <preference name="ScrollEnabled" value="true" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="29" src="res/icons/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icons/ios/icon-small-2x.png" width="58" />
        <icon height="87" src="res/icons/ios/icon-small-3x.png" width="87" />
        <icon height="40" src="res/icons/ios/icon-40.png" width="40" />
        <icon height="80" src="res/icons/ios/icon-40-2x.png" width="80" />
        <icon height="120" src="res/icons/ios/icon-40-3x.png" width="120" />
        <icon height="50" src="res/icons/ios/icon-50.png" width="50" />
        <icon height="100" src="res/icons/ios/icon-50-2x.png" width="100" />
        <icon height="57" src="res/icons/ios/icon-57.png" width="57" />
        <icon height="114" src="res/icons/ios/icon-57-2x.png" width="114" />
        <icon height="60" src="res/icons/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icons/ios/icon-60-2x.png" width="120" />
        <icon height="180" src="res/icons/ios/icon-60-3x.png" width="180" />
        <icon height="72" src="res/icons/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icons/ios/icon-72-2x.png" width="144" />
        <icon height="76" src="res/icons/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icons/ios/icon-76-2x.png" width="152" />
        <icon height="167" src="res/icons/ios/icon-83.5-2x.png" width="167" />
        <splash src="res/screens/ios/Default@2x~universal~anyany.png" />
        <resource-file src="keys/ios/GoogleService-Info.plist" />
    </platform>
    <preference name="StatusBarBackgroundColor" value="#95999D" />
    <engine name="android" spec="7.1.4" />
    <engine name="ios" spec="^5.1.1" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-inappbrowser" spec="1.7.1" />
    <plugin name="cordova-ios-plugin-no-export-compliance" spec="0.0.5" />
    <plugin name="com.lampa.startapp" spec="^0.1.4" />
    <plugin name="cordova-plugin-queries-schemes" spec="https://github.com/cozy/cordova-plugin-queries-schemes" />
    <plugin name="cordova-plugin-device" spec="^2.0.1" />
    <plugin name="phonegap-plugin-push" spec="^2.1.3">
        <variable name="FCM_VERSION" value="11.6.2" />
    </plugin>
    <plugin name="cordova-plugin-customurlscheme" spec="^4.3.0">
        <variable name="URL_SCHEME" value="cozybanks" />
        <variable name="ANDROID_SCHEME" value=" " />
        <variable name="ANDROID_HOST" value=" " />
        <variable name="ANDROID_PATHPREFIX" value="/" />
    </plugin>
    <plugin name="cordova-plugin-safariviewcontroller" spec="https://github.com/rdesimone/cordova-plugin-safariviewcontroller" />
    <plugin name="cordova-sqlite-storage" spec="2.5.1" />
    <plugin name="cordova-plugin-fingerprint-aio" spec="1.7.0">
        <variable name="FACEID_USAGE_DESCRIPTION" value="Cozy Banks" />
    </plugin>
    <plugin name="cordova-plugin-statusbar" spec="2.4.3" />
    <plugin name="cordova-blur-app-privacy-screen" spec="https://github.com/lifeofcoding/cordova-blur-app-privacy-screen.git" />
    <plugin name="cordova-universal-links-plugin" spec="https://github.com/Mailbutler/cordova-universal-links-plugin" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="^2.2.0" />
</widget>
