.AugmentedModalIntent
    padding 0

.AugmentedModalDescription
    padding 0!important
    & > div
        height 100%
        & > *
            box-sizing border-box
            &:first-child
                padding 2rem
            &:last-child
                flex 0 1 35%
                padding 1.5rem

.FakeInfos
    position relative

.FakeInfosLinkVendor
.FakeInfosLinkDrive
    position absolute
    left 0
    width 125px
    height 25px

.FakeInfosLinkVendor
    top 203px

.FakeInfosLinkDrive
    top 359px
