.container
    display flex
    flex-direction column
    flex-shrink 0
    height 100%

.content
    display flex
    flex-direction column
    flex-grow 1

    &.top
        justify-content flex-start

    &.center
        justify-content center

    &.bottom
        justify-content flex-end
