.Error
  position relative
  transform translateZ(0)
  height 500px
  display flex

  a
  a:visited
      color var(--primaryColor)
      text-decoration none
      cursor pointer

  a:hover
  a:active
      text-decoration underline

  .Empty
    position inherit
    pointer-events inherit
