.Tooltip
    position absolute
    background-color var(--historyTooltipBackgroundColor)
    color var(--historyTooltipTextColor)
    border-radius 2px
    font-size 0.6875rem
    padding-left 2px
    padding-right 2px
    line-height 1.45
    white-space nowrap

    &:before
        content ''
        position absolute
        bottom -3px
        width 0
        height 0
        border-top 5px solid var(--historyTooltipBackgroundColor)
        border-left 0 solid transparent
        border-right 0 solid transparent

.Tooltip_right:before
    right 0
    border-left-width 5px

.Tooltip_left:before
    left 0
    border-right-width 5px
