node_modules
mkdocs/

i18n/fr_FR/LC_MESSAGES/messages.mo
i18n/fr_FR/LC_MESSAGES/messages.po~

.venv
venv

# external docs fetched by add_external_docs.py
src/cozy-app-publish
src/cozy-client
src/cozy-client-js
src/cozy-doctypes
src/cozy-konnector-libs
src/cozy-stack
src/create-cozy-app
src/konitor

# docs/ is generated, no need to have it in the repo
docs/
