language: python
python:
- '3.6'
node_js:
- '12'
git:
  depth: 1
env:
  global:
  - secure: el/25x4Vh2BiDCS8i5n1qb2TSHWKhlHKHZV8oZklzZZqlVywy4RjoxH3oP+u+84NDQmsN/PH0RMf3zLdpmyuy6ViCx90J4GcoNuvnd+m0T6NEgoDmLbCATlEHBd60GrCPhudCgdFWqtb6oKXteD8OqdgwlEtHQMQgrZlOZNKz/610+AXTqU1LuN9hkRpUQDIdNg4v/Mz6x/DM8LiTcoyn3ySq3dh1VsQniHwJDn++W/LUDaqU9PadsZabsz8RVyPj4r3aQlla/jSgC7ZClHM+RfqSg/5+l+aDRz/5sIoy2MhArE3K0Ei+ylUYwriNnZGkzBMd7aq4rVrCvMKfF6a+EH/nNg3fP1PZKH1DU7FIAZNaTe/Yd06CQkoknEGqIOAKbfgYwotR7nDfzy507AlQ7iHGQ+hs5V26tkmAimw9otlv1DjWdn7T5At5P5u4CvtI12auQTKaQtezkgcC8Z5a7zDBD4sJgMfQ+r3eyLj42v6wP1iGqsIl5nghbBWoyaJRooBhhyHG8tDbNmFCo5YIk6BYN6I0Mxe31DHrFP95DlDePWTGGBBkm8esfKrEiAQUJh2RPUv78YcTcwDh+2YXqxk4oR7IcOHxkROMPmf9SCoH79AzBjGuxhzP2gtruvgjqty4h9h47xTr9gdVLZU0LsWAsVhnlxcEth8xqpDzlU=
cache:
  pip: true
  yarn: true
before_install:
- nvm install 12.22.9
- nvm use 12.22.9
- yarn add git-directory-deploy
script:
- yarn lint
- ./build.sh
after_success:
- ./deploy.sh
