Babel==2.6.0
backports-abc==0.5
click==6.7
futures==3.2.0
Jinja2==2.10
livereload==2.5.2
Markdown==2.6.11
markdown-i18n==2.1.2
MarkupSafe==1.0
-e git+https://github.com/mkdocs/mkdocs.git@3f0e4464a787ad5ce5a235d7ae988a2d8f53f077#egg=mkdocs
pytz==2018.5
PyYAML==3.13
sh==1.12.14
singledispatch==3.4.0.3
six==1.11.0
tornado==5.1
