Babel==2.6.0
certifi==2018.8.24
chardet==3.0.4
Click==7.0
colorclass==2.2.0
docopt==0.6.2
idna==2.7
Jinja2==2.10
jsx-lexer==0.0.6
livereload==2.5.2
Markdown==3.0.1
markdown-i18n==2.1.2
MarkupSafe==1.0
-e git+https://github.com/mkdocs/mkdocs.git@3f0e4464a787ad5ce5a235d7ae988a2d8f53f077#egg=mkdocs
packaging==18.0
pip-upgrader==1.4.6
Pygments==2.2.0
pyparsing==2.2.2
python-slugify==1.2.6
pytz==2018.5
PyYAML==3.13
requests==2.20.0
sh==1.12.14
six==1.11.0
terminaltables==3.1.0
tornado==5.1.1
transifex-client==0.13.4
tx==0.0.1
Unidecode==1.0.22
urllib3==1.23
mkdocs-material==4.4.0
