/* Code block theme for hightlight.js */
pre.codehilite {
  background: #32363f;
}

/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #32363f;
  color: white;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.ruby .hljs-constant,
.hljs-regexp,
.hljs-literal,
.vhdl .hljs-literal,
.tex .hljs-command,
.hljs-link {
  color: #ae81ff;
}

.hljs-code,
.hljs-title,
.scss .hljs-preprocessor,
.hljs-tag .hljs-title,
.hljs-tag,
.hljs-class .hljs-title,
.hljs-rule .hljs-property,
.django .hljs-tag .hljs-keyword,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-list .hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}

.hljs-symbol,
.hljs-attribute,
.lisp .hljs-body,
.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula,
.hljs-template-variable {
  color: #e6db74;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-chunk,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}

.hljs-comment,
.hljs-deletion,
.diff .hljs-header,
.diff .hljs-change,
.hljs-javadoc,
.hljs-meta {
  color: #75715e;
}
