.PopupSelect__title
    border-bottom 1px solid var(--silver)
    margin-bottom 0

.PopupSelect__content
    padding 0

.PopupSelect__back
    cursor pointer
    margin-right 1.25rem
    margin-left -0.25rem
    font-size 1.5rem
