.PopupSelect__content
    margin-left -1.5em
    width calc(100% + 3em)

.PopupSelect__title
    border-bottom 1px solid var(--silver)

.PopupSelect__row
    border-bottom 1px solid var(--silver)

    &:hover
        background-color var(--paleGrey)
        cursor pointer

    &:last-child
        border-bottom 0

.PopupSelect__back
    cursor pointer
    margin-right 1.25rem
    margin-left -0.25rem
    font-size 1.5rem
