.account-sharing-tooltip
    :global
        .react-hint__content
            background var(--charcoalGrey)

    &:global(.react-hint--top)::after
        border-top-color var(--charcoalGrey)
    &:global(.react-hint--bottom)::after
        border-bottom-color var(--charcoalGrey)
    &:global(.react-hint--left)::after
        border-left-color var(--charcoalGrey)
    &:global(.react-hint--right)::after
        border-right-color var(--charcoalGrey)
