@require 'components/list'

$height=3rem

.List--papered
    box-shadow 0 0 20px rgba(0, 0, 0, 0.1)

.List--bordered
    border 1px solid var(--silver)

.List--bordered-v
    border-left 1px solid var(--silver)
    border-right 1px solid var(--silver)

.List--bordered-h
    border-top 1px solid var(--silver)
    border-bottom 1px solid var(--silver)

.c-list-row
    min-height $height
    padding .375rem .75rem
    border-bottom 1px solid var(--silver)
    display flex
    align-items center
    &:last-child
        border-bottom 0

    &:active
        background var(--paleGrey)

.Radio
    width 100%
    margin-bottom 0
    height $height // Give the same height as the List row
