h1, h2, h3, h4, h5, h6 {
  display:block;
  margin:0;
  padding:0;
}

/* header */
.header__title a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.header__desc {
  white-space: nowrap;
  text-align: right;
}
.header__desc__title {
  color: var(--charcoalGrey);
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
  letter-spacing: 0.5px;
}
.header__desc__subtitle {
  color: var(--coolGrey);
  font-size: 14px;
  letter-spacing: 0.4px;
}

.account h3 {
  font-size: 12px;
  font-weight: bold;
  color: var(--coolGrey);
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
.account h4 {
  font-size: 12px;
  font-weight: normal;
  color: var(--coolGrey);
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
/* amount */
.amount {
  white-space: nowrap;
  font-size: 16px;
}
.amountPos {
  color: var(--emerald);
}
.amountNeg {
  color: var(--pomegranate);
}
/* footer */
.footer__settings > td > div,
.footer__help > td > div {
  font-size: 12px;
  letter-spacing: 0.6px;
}

.footer__settings > td > div  {
  color: var(--charcoalGrey) !important;
}
.footer__help > td > div {
  color: var(--coolGrey) !important;
  text-align: right !important;
}
.footer__help a {
  display: inline-block;
  color: var(--coolGrey) !important;
}

.footer__help a + a {
  margin-left: 16px;
}
/* text */
.txtRight {
  text-align: right;
}

/* media */
table {
  border-spacing: 0;
}

.tableRow {
  border-bottom: 1px var(--silver) solid;
  padding: 8px 0;
  line-height: 1.5;
  letter-spacing: 0.25px;
}

.tableRow {
  border-bottom: 0;
}

.tableRow a, .tableRow a:visited {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .header__desc__title {
    text-align: center !important;
  }
  .header__desc__subtitle {
    text-align: center !important;
  }
  .header__title > td {
    text-align: center !important;
  }
  .header__title > td > table {
    width: 100px;
    margin: auto;
  }

  .footer__settings > td > div {
    text-align: center !important;
  }

  .footer__help > td > div,
  td.footer__help > div,
  emailHeader {
    text-align: center !important;
  }
  .header__title table {
    margin: 0 auto;
    text-align: center;
  }
}
