@require 'settings/breakpoints'

.Header--fixed
    position sticky
    z-index 2
    top 0

    +medium-screen()
        // We cannot use position: sticky on iOS since there are rendering bugs :
        // an element with position: sticky would disappear during scroll
        position fixed
        width 100%
        top 3rem

.HeaderColor_normal
    background-color var(--headerDefaultBackgroundColor)

.HeaderColor_inverted
    background-color var(--headerInvertedBackgroundColor)
    color var(--headerInvertedTextColor)

.HeaderColor_inverted.Header--fixed.Header--paper
    box-shadow 0 4px 4px -2px rgba(0, 0, 0, 0.24), 0 0 4px -2px rgba(0, 0, 0, 0.16)

// On mobile, the header is fixed so we need space for divs below it
// for their content not to be behind the header
belowHeader(headerHeight)
    headerHeight=(headerHeight + .5rem)
    padding-top headerHeight
