@require 'settings/breakpoints'

.nav-row
    cursor pointer

    +small-screen()
        padding-right 1.5rem
        &::after
            content '\00a0'
            background-image embedurl('../../assets/icons/icon-chevron-down.svg')
            display block
            width 15px
            height 12px
            transform rotate(-90deg)
            position absolute
            right 1rem
            background-repeat no-repeat
