.AccountIconContainer
    display inline-block
    width 24px
    height 24px

.AccountIconContainer--large
    width 4rem
    height 4rem

.AccountIconContainer--small
    width 1rem
    height 1rem
