// Should be put in cozy-ui

.Pin__button
    size=4.5rem
    margin .5rem .75rem
    width size
    height size

    display inline-flex
    flex-direction column
    align-items center
    justify-content center

    color var(--white)
    background-color rgba(255, 255, 255, 0)
    font-size 2rem
    text-transform uppercase

    transition background-color 0.3s ease

    border-radius 100%
    border 0

    cursor pointer

    // Disable orange outline
    // https://stackoverflow.com/questions/5210481/disable-orange-outline-highlight-on-focus
    -webkit-tap-highlight-color rgba(255, 255, 255, 0)
    -webkit-tap-highlight-color transparent
    outline none

    &.Pin__button--ios:not(.Pin__button--text)
        border 2px solid rgba(255, 255, 255, 0.5)


.Pin__button--text
    font-size .875rem
    font-weight bold

.Pin__button:active
    background-color rgba(255, 255, 255, 0.25)

    // To have a one way transition
    transition unset

.PinKeyboard
    display flex
    flex-direction column
    align-items stretch
    max-width 500px
    height 100%

.PinKeyboard__top, .PinKeyboard__bottom
  align-items center
  justify-content center
  display flex
  flex-direction column

.PinKeyboard__top
  flex-grow 1

.PinKeyboard__bottom
  flex-grow 2

.PinKeyboard__topMessage
    font-weight bold

.PinKeyboard__keyboard
    display grid
    grid-template-columns repeat(3, 1fr)
    margin auto

.PinWrapper
    background var(--pinPrimaryBackgroundColor)
    color var(--pinPrimaryContrastTextColor)
    transition background 0.3s ease
    width 100vw
    height 100vh
    z-index 100
    position fixed
    display flex
    justify-content center
    align-items center
    flex-direction column
    text-align center
    top 0
    bottom 0
    left 0
    right 0
    box-sizing border-box
    padding-top 2rem
    padding-bottom 2rem
    z-index 10000

.PinWrapper p
    opacity 0.64
    font-size 1rem
    font-weight normal
    opacity 0.85
    margin 0

.PinWrapper h2
    font-size 1.5rem
    font-weight bold
    margin 1rem 0

.PinWrapper--success
    background var(--emerald)

.Pin__dots
    font-size 2rem
    margin .75rem

.Pin__dot
    display inline-block
    text-align center
    width 2rem

.Pin__letters
    font-variant small-caps
    font-size 0.625rem
    display none

    .Pin__button--ios &
        display block

.Pin__error
    color #fbbabb
    font-weight bold
    margin-top 1rem

.Pin__FingerprintChoice
    display flex
    flex-direction column
    height 100%
    padding 1rem
    box-sizing border-box

.Pin__FingerprintChoice__top
    display flex
    flex-direction column
    flex-grow 1
    justify-content center
    align-items center

.Pin__BackButton
    top 0.5rem
    left 0.5rem
    position absolute
    width 48px
    height 48px
    display flex
    align-items center
    justify-content center
    cursor pointer
