@require 'settings/breakpoints'

.PageModalDesktop
    .PageModalDesktop__header
        position relative
        border-bottom 1px solid var(--silver)
        margin-bottom 0
        padding-top 0
        padding-bottom 0
        height 5rem
        display flex
        align-items center
        justify-content center

.PageModalDesktop__content
    padding 0

    &:last-child
        padding 0

.PageModalDesktop__cross
    width 1rem
    height 1rem
    min-height auto
    z-index 1
    top 1.4rem
    right 1.4rem
