@require 'settings/breakpoints'

BAR_HEIGHT=3rem
BAR_BUTTON_WIDTH=3rem
BAR_BORDER_WIDTH=1px

.Page__BackButton
    position absolute
    top 0
    left 0


.Page__header
    position relative
    height BAR_HEIGHT
    display flex
    align-items center
    justify-content center
    padding 0 BAR_BUTTON_WIDTH
    margin-bottom 0
    position relative
    font-weight bold

    font-size 1.25rem

    +small-screen()
        &
            font-size 1.125rem
            border-bottom 1px solid silver


.Page__Overlay,
.Page__Wrapper
    height 'calc(100% - -%s - %s)' % (BAR_HEIGHT BAR_BORDER_WIDTH)
