.Page__BackButton
    background-color transparent
    border-width 0
    position absolute
    top 0
    left 0
    height 100%
    width 3rem
    cursor pointer
    display flex
    align-items center
    justify-content center

.Page
    .Page__title
        position relative
        height 3rem
        display flex
        align-items center
        justify-content center
        border-bottom 1px solid silver
        padding 0 3rem
        margin-bottom 0

    .Page__content
        padding 0

headerHeight = 49px

.Page__Overlay,
.Page__Wrapper
    height 'calc(100% - %s)' % headerHeight
