@require 'settings/breakpoints'

.BackArrow.BackArrow
    float left
    font-size 1.25rem
    line-height 1.6875
    margin-right 1rem
    cursor pointer
    border-radius 100%
    width 2rem
    display inline-flex
    height 3rem
    justify-content center
    align-items center
    border 0
    background transparent
    --iconColor: var(--coolGrey)

    +small-screen()
        &
            margin-right .5rem

.BackArrow.BackArrow:active
    background rgba(255, 255, 255, 0.2)
    cursor pointer
    padding 0
    background none
    border 0

.BackIcon
    color var(--iconColor)

.BackIcon--primary
    --iconColor: white

.BackIcon--inverted
    --iconColor: white
