.back-arrow.back-arrow
    float left
    font-size 1.25rem
    line-height 1.6875
    margin-right 1.5rem
    cursor pointer
    border-radius 100%
    width 2rem
    display inline-flex
    height 2rem
    justify-content center
    align-items center

.back-arrow:active
    background rgba(255, 255, 255, 0.2)
