@require 'settings/breakpoints'
@require '~styles/mixins.styl'

.BalanceRow
    &:active
    &:focus
        background var(--zircon)

    cursor pointer
    composes mobile-row from '../../../components/Table/styles.styl'
    composes nav-row from '../../commons/mobile.styl' // @stylint ignore

    +small-screen()
        padding-right 2.5rem

    td
        +small-screen()
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

        &.warning
            font-weight bold
            color var(--texasRose)

            span
                margin-left 5px
                heigth 1rem

                &:before
                    vertical-align middle
                    margin-bottom 3px
        &.alert
            color var(--pomegranate)

.BalanceRow--selected
    border-left 0.25rem var(--dodgerBlue) solid
    background var(--zircon)

.BalanceRow--selected-account-from-group
    border-left 0.25rem silver solid
    background var(--paleGrey)
