.ContainerIntentSide
    display flex
    height 100%
    padding 0 !important

.IntentIframeContainer
    flex 5

.FakeInfos
    position relative
    flex 2
    padding 20px
    background-color var(--defaultBackgroundColor)
    overflow auto

.FakeInfosLinkVendor
.FakeInfosLinkDrive
    position absolute
    left 20px
    height 25px

.FakeInfosLinkVendor
    width 140px
    top 225px

.FakeInfosLinkDrive
    width 104px
    top 380px

.FakeVeePeeHeader
    background-color #eee
    display flex
    justify-content center
    width calc(100% - 64px) !important
    padding 10px 32px !important
