.Header
    z-index var(--z-index-bar)

.List--mobile
    margin-top 6.5rem

.List--tablet
    margin-top 8.5rem

.Title--mobile
  margin-top -3.25rem
  position relative

  margin-bottom 0.75rem

  // Horizontal margins are necessary for title not to overlap
  // the back button
  margin-left 1.5rem
  margin-right 1.5rem
