@require 'settings/breakpoints'

MODAL_CONTENT_HORIZONTAL_PADDING_DESKTOP=2rem
MODAL_CONTENT_HORIZONTAL_PADDING_MOBILE=1.5rem

.ModalRow
    padding-left MODAL_CONTENT_HORIZONTAL_PADDING_DESKTOP
    padding-right MODAL_CONTENT_HORIZONTAL_PADDING_DESKTOP

    +small-screen()
        padding-left MODAL_CONTENT_HORIZONTAL_PADDING_MOBILE
        padding-right MODAL_CONTENT_HORIZONTAL_PADDING_MOBILE
