.assistantWrapper-mobile
  position fixed
  bottom 0
  right 0
  left 0
  padding 1rem

  &--light
    background-color #E9F4FF

  &--dark
    background-color #142536

  &--offset
    padding-right 4.5rem

  &--immersive
    padding-bottom calc(1rem + var(--flagship-bottom-height))
