.Radio
    width auto

// Fix fastclick issue
// To remove when https://github.com/cozy/cozy-ui/issues/1027 is solved
// https://github.com/ftlabs/fastclick/issues/60
label.Radio > *
    pointer-events none

.ReimbursementStatusModal__contact
    padding 0 0.75rem
