{{#extend "cozy-layout"}}

  {{#content "logoUrl"}}
    https://downcloud.cozycloud.cc/upload/cozy-banks/email-assets/logo-my-app.png
  {{/content}}

  {{#content "appName"}}
    My app
  {{/content}}

  {{#content "topLogo"}}
    <mj-image width="100px" src="https://downcloud.cozycloud.cc/upload/cozy-banks/email-assets/logo-cozy.png" />
  {{/content}}

  {{#content "footerHelp"}}
    <a href="{{ appUrl }}">Go to app</a> -
    <a href="{{ settingsUrl }}">Go to settings</a>
  {{/content}}
{{/extend}}
