{{#extend "app-layout"}}
  {{#content "emailTitle"}}
    My email title
  {{/content}}

  {{#content "emailSubtitle"}}
    {{ greeting name }}
  {{/content}}

  {{#content "content"}}
    <mj-section>
      <mj-column>
        <mj-text>
          <h1>Title 1</h1>
          <h2>Title 2</h2>
          <p>Paragraph 1</p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-text><p>Paragraph 2</p></mj-text>
      </mj-column>
    </mj-section>
  {{/content}}
{{/extend}}
