<!DOCTYPE html>
<html lang="{{.Locale}}">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% if (__TARGET__ !== 'mobile') { %>
  {{.ThemeCSS}}
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="/public/safari-pinned-tab.svg" color="#16B52D">
  <% } %>
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <% if (__TARGET__ === 'mobile') { %>
  <meta name="format-detection" content="telephone=no">
  <script src="cordova.js" defer></script>
  <% } else if (__STACK_ASSETS__) { %>
  {{.CozyFonts}}
  <% } else { %>
  <link rel="stylesheet" type="text/css" href="//{{.Domain}}/assets/fonts/fonts.css">
  <% } %>
  <script type='text/javascript'>
    /**
     * Adds error handling for errors occuring before React has done its first render (or if the first
     * render fails). Displays a red error telling the user to contact the support. The original error
     * is displayed with the stacktrace in a pre so that the user can easily copy/paste it.
     *
     */
    var message = 'Nous sommes désolés, l\'application n\'a pas pu être chargée, merci de contacter notre support (contact@cozycloud.cc) en leur communiquant l\'erreur ci-dessous. Merci.'
    var handleError = function (e) {
      const div = document.createElement('div')
      div.innerHTML = message + '\n'

      var errorNode = document.createElement('pre')
      errorNode.innerHTML = e.toString() + '\n' + e.stack
      errorNode.style.whiteSpace = 'pre-wrap'
      div.style.background = 'crimson'
      div.style.fontFamily = 'sans-serif'
      div.style.color = 'white'
      div.style.padding = '1rem'
      div.appendChild(errorNode)
      setTimeout(function () {
        var appNode = document.querySelector('[role="application"]')
        if (!appNode || appNode.firstChild) {
          // Bail out if application already has started
          return
        }
        document.body.appendChild(div)
      }, 100)
    }
    window.onerror = handleError
  </script>
</head>
<body>
<div
  role="application"
  <% if (__TARGET__ !== 'mobile') { %>
  data-cozy="{{.CozyData}}"
  <% } %>
></div>
<% if (__TARGET__ === 'mobile') { %>
<div id="logout-modal" style="position: relative; z-index: 100;"></div>
<% } %>
</body>
</html>
