@require 'settings/breakpoints'

.SettingCard
    box-sizing border-box
    width 400px
    overflow hidden
    position relative

    +small-screen()
        width 100%

.SettingCard--clickable
    cursor pointer

.SettingCard--disabled
    color var(--coolGrey)

