.Row
    min-height 3rem
    box-sizing border-box
    border-bottom 1px solid var(--silver)
    padding 0.5rem 1rem

    &:hover
        background-color var(--paleGrey)
        cursor pointer

    &:last-child
        border-bottom 0
