@require 'settings/breakpoints'

.AccountRow__figure
    font-size 0.875rem
    font-weight normal
    color inherit
    margin-right 0.25rem

.AccountRow--hasWarning
    .AccountRow__figure
        color var(--warningColor)

.AccountRow--hasAlert
    .AccountRow__figure
        color var(--errorColor)

.AccountRow__updatedAtIcon
    vertical-align top
    margin-right 0.25rem

.AccountRow__ownersIcon
    margin-right 0.25rem

.AccountRow--disabled
    opacity 0.75
