@require 'settings/breakpoints'

$header-margin-bottom = -28px

.content
    height 245px
    color var(--primaryContrastTextColor)
    text-align center
    padding-bottom -($header-margin-bottom)
    margin-bottom $header-margin-bottom

    +small-screen()
        height 190px

.header
    max-width 512px
    margin 0 auto

.progress
    margin 1rem auto

.text
    font-size 1rem
    line-height 1.5
