@require 'settings/breakpoints'

.BalanceHeader
    padding-top: 1.5rem
    padding-bottom .5rem
    text-align center
    color white
    flex-basis 213px
    flex-shrink 0

    +small-screen()
        flex-basis 159px
        padding-top: .5rem
        padding-bottom 0

.SearchIcon
    position absolute
    right 2rem
    color white
    z-index 1

    +small-screen()
        right inherit
        position static
