@require 'settings/breakpoints'

.Balance__panelsContainer
    position relative

    &::before
        content ''
        position absolute
        top 0
        left 0
        right 0
        height 44px
        background-color var(--headerInvertedBackgroundColor)

    +small-screen()
        padding-left 0.5rem
        padding-right 0.5rem
