@require 'settings/breakpoints'

.BalancePanels
    +small-screen('min')
        padding-bottom 6rem

.BalancePanels__actions
    display flex
    padding-left 4px
    padding-right 4px
    margin-top 2rem

    +small-screen('min')
        padding-left 0
        padding-right 0
        justify-content flex-end
