.GroupPanelSummary__labelBalanceWrapper
    position relative
    display flex
    flex 1
    justify-content space-between
    align-items center

.GroupPanelSummary__figureCurrency
    color inherit

.GroupPanelSummary__caption
    text-transform none
    font-weight normal
    margin-top 0.125rem

.GroupPanelSummary__icon
    color var(--primaryTextColor)

.GroupPanelSummary--unchecked
    .GroupPanelSummary__content,
    .GroupPanelSummary__icon
        color var(--coolGrey)

.GroupPanelSummary--lateHealthReimbursements.GroupPanelSummary--lateHealthReimbursements
    background-color var(--chablis) !important
