@require 'settings/breakpoints'

.HeaderTitle
    text-align center

.HeaderTitle_balance
    font-size 2rem
    line-height 2.5rem

    +small-screen()
        font-size 1.5rem
        line-height 2rem

.HeaderTitle_subtitle
    margin-bottom .5rem
    text-transform uppercase
    font-size 0.75rem
    line-height 1rem
    min-height 1rem
    font-weight bold
    color rgba(255, 255, 255, 0.64)
    opacity .64
