.HistoryChart
    overflow hidden
    margin 0

.HistoryChart
    padding-bottom .5rem

.HistoryChartTooltip
    display flex

.HistoryChart__tooltipBalance
    font-weight bold
    border-left 1px solid var(--historyTooltipTextColor)
    padding-left 4px
    margin-left 4px
