.ReimbursementsIcon
    display inline-block
    position relative

    svg
        vertical-align bottom

.ReimbursementsIcon__hourglass
    display flex
    width 16px
    height 16px
    border 1px solid var(--coolGrey)
    background-color var(--white)
    border-radius 50%
    justify-content center
    align-items center
    position absolute
    right -8px
    bottom -8px
