.flash
  position absolute
  top 5rem
  left 0
  right 0
  margin auto
  display inline-block
  background rgba(0,0,0,0.75)
  width 200px
  borderRadius 10px
  color var(--white)
  padding 1rem
  text-align center
  z-index 1000

.flash--error
  background alpha(crimson, 0.75)
