@require 'tools/mixins.styl'
@require 'settings/breakpoints'

.AccountSwitch__Select
    display inline-flex
    overflow hidden
    cursor pointer
    align-items center

    +small-screen()
        max-width 100%
