@require 'tools/mixins.styl'
@require 'settings/breakpoints'

.account-switch-button
    cursor pointer
    margin 10px 0
    width 100%
    padding 15px 10%
    border 0
    text-align left
    outline 0
    background  embedurl('../../assets/icons/icon-chevron-down.svg') 90% center no-repeat

    .account-name
        max-width 90%
        overflow hidden
        font-weight bold
        color var(--primaryTextColor)
        text-overflow ellipsis
        white-space nowrap

    .account-num
        margin-top 8px
        font-size .8em
        color var(--coolGrey)
        font-weight normal

    &.active
        background var(--silver)

    &:focus
        background var(--silver)


.AccountSwitch__Select
    display inline-flex
    overflow hidden
    cursor pointer
    align-items center

    +small-screen()
        max-width 100%

.AccountSwitch__SelectText
    margin-bottom 0

    &.disable
        opacity .64

.AccountSwitch--small .AccountSwitch__SelectText
    font-size 1.125rem

.DownArrow
    margin-left 0.5rem
    color var(--black)

.DownArrowColor_inverted
    color var(--primaryContrastTextColor)

.AccountSwitch--small .DownArrow
    margin-left 0.375rem
