@require 'settings/breakpoints'

.Section
    margin-top 24px

    +small-screen()
        position relative
        margin-top 16px
        border-top 1px solid var(--dividerColor)
        border-bottom: 1px solid var(--dividerColor)
        z-index 0

        &::before
            content ''
            position absolute
            bottom calc(100% + 1px)
            left 0
            right 0
            height 16px
            background-color var(--defaultBackgroundColor)
            z-index -1

        &:last-child
            border-bottom 0

