// TODO should be moved to cozy-ui when we update
// to v4
.btn--no-outline.btn--no-outline
    background transparent
    color var(--dodgerBlue)
    border 0
    padding 0
    font-weight bold
    min-height 1.25rem

    &:not([disabled]):not([aria-disabled=true]):hover,
    &:active,
    &:focus
        background transparent
        outline 0
