@require 'generic/normalize.styl'
@require 'elements/defaults.styl'
@require '~styles/utilities.styl'
@require '~styles/text.styl'
@require 'settings/breakpoints'
@require '~styles/palette.styl'

html
    -webkit-touch-callout none
    min-height 100%

body
    min-height 100%

h4
    margin-top 0
    margin-bottom 1rem

+small-screen()
    [role='banner'][data-drawer-visible='true']
        z-index 90

// TODO Move this directly to the cozy-bar
// https://github.com/cozy/cozy-bar/issues/154
:global
    +small-screen()
        [role=banner] .coz-bar-container
            padding 0 !important // @stylint ignore
