@require 'generic/normalize.styl'
@require 'elements/defaults.styl'
@require '~styles/utilities.styl'
@require '~styles/text.styl'
@require 'settings/breakpoints'
@require '~styles/variables.styl'
@require '~styles/palette.styl'

html
    -webkit-touch-callout none

h4
    margin-top 0
    margin-bottom 1rem

+small-screen()
    [role='banner'][data-drawer-visible='true']
        z-index 90
