@require '~styles/variables.styl'
@require 'settings/breakpoints'

/**
Due to a IE11 bug, we need to specify max-width when using
flex-basis and padding
https://github.com/philipwalton/flexbugs/issues/3
*/
maxed-flex-basis(n)
    flex-basis n
    max-width n

$full-width
    margin-left (- content-padding)
    margin-right (- content-padding)

    +small-screen()
        margin-left (- content-padding-small)
        margin-right (- content-padding-small)

$full-width-table
    margin-left (- content-padding)
    margin-right (- content-padding)
    width 'calc(100% + %s)' % (2 * content-padding)

    +small-screen()
        margin-left (- content-padding-small)
        margin-right (- content-padding-small)
        width 'calc(100% + %s)' % (2 * content-padding-small)
