@font-face
    font-family Lato
    font-style normal
    font-weight normal
    src  url('../assets/fonts/Lato-Regular.woff2') format('woff2'), url('../assets/fonts/Lato-Regular.woff') format('woff')

@font-face
    font-family Lato
    font-style normal
    font-weight bold
    src  url('../assets/fonts/Lato-Bold.woff2') format('woff2'), url('../assets/fonts/Lato-Bold.woff') format('woff')

// Turning off stylint to remove duplicate selector warning (html already defined in main.styl)
// @stylint off
html
  -webkit-touch-callout none /* iOS Safari */
  -webkit-user-select none /* Safari */
  -moz-user-select none /* Old versions of Firefox */
  -ms-user-select none /* Internet Explorer/Edge */
  user-select none /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
// @stylint on
