// @stylint off
body
    --primaryColorDark #0d60d1 // darken(dodgerBlue, 12)
    
    --headerDefaultBackgroundColor var(--white)
    --headerPrimaryBackgroundColor var(--primaryColor)

    --historyTooltipBackgroundColor var(--white)
    --historyTooltipTextColor var(--primaryColor)
    --historyGradientColor var(--primaryColor)
    
    --selectDatesSeparatorPrimaryColor var(--primaryColor)
    --selectDatesChipPrimaryBackgroundColor var(--primaryColorLight)
    --selectDatesButtonDisabledPrimaryBackgroundColor var(--primaryColorLighter)
    --selectDatesButtonDisabledPrimaryColor var(--primaryColorLightest)
    --selectDatesIconPrimaryColor var(--white)
    --selectDatesButtonPrimaryColor var(--white)
    
    --tableHeadPrimaryBackgroundColor var(--primaryColorLight)
    --tableHeadPrimaryContrastTextColor var(--primaryContrastTextColor)
    --tableHeadSeparatorPrimaryColor var(--primaryColor)
    
    --categoriesHeaderTogglePrimaryContrastTextColor var(--primaryContrastTextColor)
    --categoriesHeaderTogglePrimaryBackgroundColor var(--primaryColorLight)
    --statusBarPrimaryColor var(--primaryColorDark)

    --pinPrimaryBackgroundColor var(--primaryColor)
    --pinPrimaryContrastTextColor var(--primaryContrastTextColor)
