// @stylint off
body
    --primaryColorDark #0d60d1 // darken(dodgerBlue, 12)

    --headerDefaultBackgroundColor var(--white)
    --headerInvertedBackgroundColor var(--primaryColor)
    --headerInvertedTextColor var(--primaryContrastTextColor)
    --headerInvertedBackgroundColorLight var(--primaryColorLight)

    --historyTooltipBackgroundColor var(--white)
    --historyTooltipTextColor var(--primaryColor)
    --historyGradientColor var(--primaryColor)

    --selectDatesSeparatorPrimaryColor var(--primaryColor)
    --selectDatesChipPrimaryBackgroundColor var(--primaryColorLight)
    --selectDatesButtonDisabledPrimaryBackgroundColor var(--primaryColorLighter)
    --selectDatesButtonDisabledPrimaryColor var(--primaryColorLightest)
    --selectDatesIconPrimaryColor var(--white)
    --selectDatesButtonPrimaryColor var(--white)

    --tableHeadPrimaryBackgroundColor var(--primaryColorLight)
    --tableHeadPrimaryContrastTextColor var(--primaryContrastTextColor)
    --tableHeadSeparatorPrimaryColor var(--primaryColor)

    --categoriesHeaderTogglePrimaryContrastTextColor var(--primaryContrastTextColor)
    --categoriesHeaderTogglePrimaryBackgroundColor var(--primaryColorLight)

    // Status bar is of a different color on Android but on iOS the norm is to
    // have the same color
    --statusBarDefaultAndroid var(--coolGrey)
    --statusBarDefaultIOS var(--white)
    --statusBarPrimaryColorAndroid var(--primaryColorDark)
    --statusBarPrimaryColorIOS var(--primaryColor)

    --pinPrimaryBackgroundColor var(--primaryColor)
    --pinPrimaryContrastTextColor var(--primaryContrastTextColor)
