@require 'generic/animations'

:global
    // Global utils classes comes here
    .u-spin
        animation  spin 1s linear infinite
        display inline-block

    .u-fx-from-bottom
        :local
            animation-name from-bottom
        animation-duration 0.3s
        animation-timing-function ease-out
        animation-fill-mode both


    .u-invisible-form-field input[type=date]
        border 0
        background none


    @keyframes from-bottom
        0%
            opacity 0
            transform translateY(50px)
        100%
            opacity 1
            transform translateY(0px)

