@require 'tools/mixins.styl'
@require 'settings/palette.styl'

:local // @stylint ignore
    .coz-form-controls, .coz-form-controls-success
        margin rem(32) 0 rem(8)
        display flex
        flex-wrap wrap
        .coz-btn
            // Used to position progress bar
            flex 1 0 auto
            width 100%

            &:first-of-type
                margin-left 0

            &:last-of-type
                margin-right 0

    .coz-form-controls-success
        margin-top rem(16)

    .col-btn--regular
        margin    0
        font-size rem(16)
        height    rem(48)
        width     100%

    .col-account-form-success-buttons
        margin auto

        button
            width 100%

    .account-form-login
        .col-account-form-advanced-button
            font-family         Lato, sans-serif
            cursor              pointer
            margin              1rem 0 0
            font-size           .8em
            border              0
            color               var(--dodgerBlue)
            background-color    var(--white)
            text-transform      uppercase
            font-weight         700
            padding             .125rem // Magic number to align button with form fields

    .account-form-fieldset
        padding   0
        border    0
