@require 'tools/mixins.styl'
@require 'settings/breakpoints.styl'
@require 'settings/palette.styl'
@require 'settings/spaces.styl'

// overriding the general layout to allow a sticky footer
html,
body
    // TODO Remove the !important when https://github.com/cozy/cozy-bar/issues/705
    // has been solved
    height 100% !important // @stylint ignore
    +medium-screen()
        height 100% !important // @stylint ignore

        main > [role=main].u-flex
            display flex

body
    // Allows horizontal swipe on mobile
    +mobile()
        max-width 100vw
        overflow-x hidden

[role=application]
    +mobile()
        overflow auto

.App
    background-repeat no-repeat
    background-size cover
    background-position center
    mix-blend-mode multiply
    overflow-y auto
    .corner
        margin rem(12) 2rem rem(-44) 0
        .corner-button
            color: var(--white)
            +small-screen()
                height 3rem
                width 3rem
                margin 0
        +small-screen()
            margin 0 0 -3rem

// black filter effect above the wallpaper image
.App::before
    content ''
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color rgba(0, 0, 0, .32)
    backdrop-filter saturate(124%)

.Timeline
    flex-shrink 0

    img
        box-shadow 0 0 0 1px rgba(0, 0, 0, .08), 0 4px 12px 0 rgba(0, 0, 0, .08)

.KonnectorErrors
    max-width 662px // same as https://github.com/cozy/cozy-home/commit/10d4f4e605a2b5308dac9921538f194db77b7540#diff-17941d0d4818675dfedc84955549bdf2R60
    margin: spacing_values.xs auto 0

    p
        margin: spacing_values.xs 0

    +tiny-screen()
        margin: spacing_values.m spacing_values.m 0

.main-loader
    display flex
    justify-content center
    align-items center
    flex-grow 1

.col-content
    margin 0 auto
    width 60rem

    @media (max-width: 60rem)
        width auto

.col-initial-error,
.col-initial-loading
    display         flex
    width           100vw
    align-items     center
    justify-content center

.col-top-bar
    display         flex
    flex-direction  row
    justify-content space-between
    align-items     center

    +small-screen()
        margin-top .5rem

        button
            width   100%

[role=banner] .col-view-title
    padding     0
    margin      0
    display     flex
    align-self  center

.col-button
    @extend $button
    @extend $button--regular


.col-account-connection-header
    @media (max-width: rem(930))
        width   100%

    svg
        max-height rem(48)

.col-account-connection-back
    height 2em
    display block
    float left
    margin-right 1em
    padding-top .25em

    svg
        height 1.5em
        width 1.5em
