.backup-notification-wrapper
    margin-top .5rem
    margin-right .5rem
    margin-left .5rem
    background rgba(255, 255, 255, .16)
    border-radius 8px

.backup-circular-progress-background
    color rgba(255, 255, 255, .16)
