.background-container
    background-position center
    background-repeat no-repeat
    background-size cover
    height 100vh
    position fixed
    width 100%

.background-container-darken
    mix-blend-mode multiply

.home-default-partner-background
    background-repeat repeat
    background-size initial