.backup-notification-wrapper
    margin-top .5rem
    margin-right .5rem
    margin-left .5rem
    background var(--contrastBackgroundColor)
    border-radius 8px

.backup-circular-progress-background
    color var(--contrastBackgroundColor)
