.home-background-container
    position fixed
    height 100vh
    width 100%

    &--light
        background-color #E9F4FF

    &--dark
        background-color #142536

.home-default-background
    &--img
        position fixed
        height 100%
        width 100%
        opacity .24

.home-custom-background
    mix-blend-mode multiply
    background-position center
    background-repeat no-repeat
    background-size cover
