.col-account-description-title, .col-account-description-title-centered
    margin 1.1rem 0 .5rem
    font-size 1.125rem

.col-account-description-title-centered
    text-align center

.col-account-description-message
    margin .5rem 0
    p
        margin .5rem 0
