@require 'settings/palette.styl'

// Global styles for forms
.account-connection,
.account-management
    display flex

    h3
        margin 2em 0 .5em
        font-size(24px)

    a:not([role=button])
        color           var(--dodgerBlue)
        text-transform  uppercase
        text-decoration none
        cursor          pointer

    p
        margin .5em 0

.account-connection
    > div
        width          50%
        padding-bottom 2em

.account-management
    width  70%
    margin auto

.account-description
    background-color var(--paleGrey)
    padding          0 2em
    > p
        margin-top 2em
    .title
        margin-top 2em

.account-login
    padding 0 2em

.account-list
    width 25%
.account-config
    .account-field
        max-width 80%

// specific to account dialog
.connector-dialog
    padding-top .5em
    .dialog-header
        svg
            height 4em
            width  100%
            margin 1.5em 0

.errors
    color var(--pomegranate)
