@require 'settings/breakpoints'
@require 'components/empty'

.col-error
    @extend $empty

    &:before
        background  embedurl('../assets/icons/color/default.svg') center center / contain no-repeat

    button
        margin  2em auto

.col-empty-list
    display flex
    align-items center
    justify-content space-between
    flex-wrap nowrap
    max-width rem(BP-small)
    margin 2rem auto

    +mobile()
        flex-direction column

    &--text
        text-align left

        +mobile()
            text-align center

    .col-button
        margin rem(16) 0 0

    h2
    p
        margin rem(8) 0

    &--img
        flex 1 0 50%
        max-height rem(240)

        img
            width 100%

        +mobile()
            flex 1 1 100%
            width 100%
    h2
        font-size   rem(20)
        line-height 1.2

        @media (max-width: rem(466))
            display none
