.hero-header
    padding 3rem 4rem
    +small-screen()
        padding 2rem 4rem

    .hero-subtitle
        line-height rem(21)
        max-width 50rem

        +small-screen()
            font-size rem(12)
            line-height rem(16)
