.hero-header
    padding 3rem 4rem
    +small-screen()
        padding 2rem 4rem

    .hero-avatar
        width 8rem
        height 8rem
        border-radius 50%
        background white
        border 2px solid var(--white)

        +small-screen()
            width 4.5rem
            height 4.5rem

    .hero-title
        font-size 3rem
        letter-spacing rem(-.8)
        line-height rem(52)
        max-width 50rem

        +small-screen()
            font-size 2rem
            line-height rem(37)

    .hero-subtitle
        line-height rem(21)
        max-width 50rem

        +small-screen()
            font-size rem(12)
            line-height rem(16)
