@require 'settings/breakpoints.styl'
@require 'settings/palette.styl'

whiteOnWhiteShadow = drop-shadow(0 1px 1px rgba(50, 54, 63, .32)) drop-shadow(0 2px 8px rgba(50, 54, 63, .08)) drop-shadow(0 1px 4px rgba(50, 54, 63, .16))

.hero-header
    padding 3rem 4rem
    +small-screen()
        padding 3rem 4rem 2rem

    .hero-avatar
        width 8rem
        height 8rem
        border-radius 50%
        border 2px solid var(--white)
        box-shadow 0 2px 16px 0 textShadowHeavy

        +small-screen()
            width 4.5rem
            height 4.5rem
            margin-bottom .25rem

    .hero-title
        font-size 3rem
        letter-spacing rem(-.8)
        line-height rem(52)
        max-width 50rem
        filter whiteOnWhiteShadow

        +small-screen()
            font-size 2rem
            line-height rem(37)

    .hero-subtitle
        line-height rem(21)
        max-width 50rem
        filter whiteOnWhiteShadow

        +small-screen()
            font-size rem(12)
            line-height rem(16)
