@require 'cozy-ui'
@require 'utilities/*'
@require 'objects/layouts.styl'
@require 'components/*'

:global
    #svg-sprite-content
        position absolute
        width 0
        height 0
        visibility hidden

    @require './app.styl'
    @require './hero-header.styl'
    @require './lists.styl'

    @require './dialog.styl'

    @require './error.styl'

    @require './introjs-cozy.styl'
