@require 'settings/palette.styl'

:local // @stylint ignore
    .maintenance-intro
        text-align center
        color var(--pomegranate)
        margin 1rem auto

    .maintenance-service
        font-size 1.125rem

    .maintenance-icon
        width 6.25rem
        height 6.25rem
        margin 0 auto
        background embedurl('../assets/icons/icon-maintenance.svg') 0 no-repeat

