@require './accountLoginForm'

.col-account-success
    text-align center

.col-account-success-links
    display flex
    align-items center
    flex-direction column

.col-account-success-link
    position relative
    margin-top 1rem
    display flex
    align-items center
    color var(--dodgerBlue)
    text-decoration none
    font-weight bold
    cursor pointer

.col-account-success-illu
    height rem(112)
    width rem(120)
