@require 'tools/mixins.styl'
@require 'settings/breakpoints.styl'
@require 'settings/palette.styl'

:local // @stylint ignore
    .col-account-connection-content
        padding 0 2rem

        +tiny-screen()
            padding 0

    .col-account-connection-fetching
        padding 0 0 2em
        position relative
        > div
            position relative // override default Spinner absolute position
            transform translateX(-50%) translateY(0)

    .col-account-connection-security
        display      flex
        align-items  top
        margin-bottom .5rem
        margin-top    1.5rem

    .col-account-connection-security svg
        max-height   rem(24)
        max-width    rem(24)
        float        left
        margin-right rem(8)

    .col-account-connection-editor
        text-align      center
        color           var(--coolGrey)
        margin-top      0
        margin-bottom   0
        font-size       .9em
