:local // @stylint ignore
    .col-konnector-header-icon-wrapper
    .col-konnector-header-icon-wrapper--center
        height 3.5rem
        display flex

        .col-konnector-header-icon
            height 2rem

        .col-konnector-header-icon--center
            height 3.5rem

        img
            width auto

    .col-konnector-header-icon-wrapper--center
        justify-content center
