@require 'settings/breakpoints.styl'
@require 'settings/palette.styl'
@require 'settings/spaces.styl'


.app-list, .services-list, .shortcuts-list
    appTileSize = 4rem
    appGridGutter = 2rem
    mobileGridGutter = 1rem
    mobileTileSize = 3rem
    white = #fff
    appTileWithGutter = appTileSize + appGridGutter
    mobileTileWithGutter = mobileTileSize + mobileGridGutter
    width 100%
    max-width 'calc(%s * 8 + %s * 7 + 4rem)' % (appTileSize appGridGutter) // 8 columns + 7 column gaps + border gaps
    display grid
    grid-template-columns repeat(auto-fill, appTileWithGutter)
    grid-template-rows rem(91) repeat(auto-fit, rem(91)) // first row is for the divider
    grid-gap rem(35) 0
    justify-content center

    +small-screen()
        grid-template-columns repeat(auto-fill, mobileTileWithGutter)
        grid-template-rows rem(68) repeat(auto-fit, rem(68)) // first row is for the divider
        grid-gap rem(20) 0

    .item-grid-icon
        width rem(16)
        height rem(16)

        +small-screen()
            width rem(12)
            height rem(12)

    a
        text-decoration none

.app-list-wrapper, .services-list-wrapper, .shortcuts-list-wrapper
    max-width 50rem

.EmptyServicesListTip
    box-sizing border-box
    width 640px
    max-width 100%
    margin auto
    padding 1rem 2rem

    +small-screen()
        padding 0 1.5rem 1rem 3rem

.EmptyServicesListTip-text
    font-style italic
    padding-left 1rem

    +small-screen()
        padding-left .5rem

.scale-hover:hover
    transform scale(1.06)
    transition transform 50ms ease
