@require 'settings/breakpoints.styl'
@require 'settings/palette.styl'
@require 'settings/spaces.styl'


.app-list, .services-list, .shortcuts-list
    appTileSize = 4rem
    appGridGutter = 2rem
    mobileTileSize = 3rem
    width 100%
    max-width 'calc(%s * 8 + %s * 7 + 4rem)' % (appTileSize appGridGutter) // 8 columns + 7 column gaps + border gaps
    display grid
    grid-template-columns repeat(auto-fit, appTileSize)
    grid-template-rows rem(91) repeat(auto-fit, rem(91)) // first row is for the divider
    grid-gap rem(35) appGridGutter
    justify-content center

    +small-screen()
        margin 2rem auto
        grid-template-columns repeat(auto-fit, mobileTileSize)
        grid-template-rows rem(68) repeat(auto-fit, rem(68)) // first row is for the divider
        grid-gap 1rem rem(20)

    .item
        position relative
        @media (pointer coarse)
            &:hover
                transform none

    .item--ghost
        .item-icon
            filter saturate(0%)
            backdrop-filter blur(48px)
            background-color rgba(255, 255, 255, .32) // need to apply opacity in background-color or else mix-blend-mode in svg, img does not work
            border 1px dashed var(--white)
            svg, img
                mix-blend-mode overlay
            div
                height 3rem
                width 3rem

    .item-icon
        box-sizing border-box
        background var(--white)
        border-radius .5rem
        padding rem(10)
        width 4rem
        height 4rem
        position relative

        +small-screen()
            width rem(24)
            height rem(24)

    .item-grid-icon
        width rem(16)
        height rem(16)

        +small-screen()
            width rem(12)
            height rem(12)

    .item-status
        position absolute
        bottom -6px
        right -6px
        border 2px solid var(--white)
        border-radius 50%
        background var(--white)

    .item--add-service
        .item-icon
            box-sizing border-box
            display flex
            justify-content center
            align-items center

        &[aria-busy='true']
            opacity .8

        &[aria-busy='true']:hover
            transform none
    a
        text-decoration none

.app-list-wrapper, .services-list-wrapper
    max-width 50rem

.EmptyServicesListTip
    box-sizing border-box
    width 640px
    max-width 100%
    margin auto
    padding 1rem 2rem

    +small-screen()
        padding 0 1.5rem 1rem 3rem

.EmptyServicesListTip-text
    font-style italic
    padding-left 1rem

    +small-screen()
        padding-left .5rem

.item
    box-sizing border-box
    width 100%
    height 100%
    cursor pointer
    text-decoration none
    text-align center

.item-title
    width 100%
    margin .5rem 0 0
    color var(--white)
    font-size rem(14)
    font-weight bold
    line-height rem(19)
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

    +small-screen()
        margin .25rem 0 0
        font-size rem(11)
        line-height 1rem
