@require 'settings/palette.styl'

:local // @stylint ignore
    .col-trigger-folder
        margin-top  2rem
        position    relative

        &-link
            color var(--dodgerBlue)
            text-decoration none
            font-weight bold
            display flex
            align-items center
