.home-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: none;
  font-size: 1.2em;
}
.home-action {
  width: calc(50% - 2em);
  margin: 1em
}

.home-action > * {
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 5px 20px rgba(116, 129, 146, 0.12), 0 1px 3px rgba(116, 129, 146, 0.19);
  color: #748192;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  line-height: 1.2;
  padding: 2em;
  text-align: center;
  width: 100%;
}

.home-action img {
  width: 3em;
}

.home-action h2 {
  margin: 0;
}

.home-action a {
  color: #444;
}

/* stack pattern */
.home-action a > * + * {
  margin-bottom: 1rem
} 
