@require 'settings/breakpoints'

.Figure
    color var(--charcoalGrey)

.Figure-currency
    color var(--coolGrey)

.Figure.inverted
    color var(--primaryContrastTextColor)

    .Figure-currency
        color var(--primaryContrastTextColor)

.Figure-content--positive
    color var(--emerald)

    .Figure-currency
        color var(--emerald)

.Figure-content--negative
    color var(--pomegranate)

    .Figure-currency
        color var(--pomegranate)

.Figure-content--warning
    color var(--texasRose)

    .Figure-currency
        color var(--texasRose)


.Figure-total
    font-weight    900

.Figure-currency--withSpacing
    margin-left .2em

.Figure--big
    font-size 2rem
    line-height 2.625rem

+small-screen()
    .Figure--big
        font-size 1.5rem
        line-height 1.75rem

.Figure--clickable
    cursor pointer

.Figure_blur
    filter blur(8px)

.Figure--inline
    display inline
