@require 'settings/breakpoints'

.FigureBlock
    color var(--charcoalGrey)

.FigureBlock-label
    color var(--coolGrey)
    margin 0
    text-transform uppercase
    font-size 0.75rem
    line-height 1rem

.FigureBlock-figure
    font-size 2rem
    line-height 2.625rem

+small-screen()
    .FigureBlock
        font-size .7em
