.personalizationTabButton
  background-color: var(--actionColorDisabled) !important

.personalize-fab-container
  z-index: var(--zIndex-nav)

.personalize-fab-container-with-searchbar
  bottom: 5rem

.personalize-popper
  z-index: var(--zIndex-nav)

.personalize-grow
  transform-origin: right bottom

.personalize-modal-container
  width: 300px
  height: 440px

.personalize-modal-title
  width auto
  gap '0.5rem'

.personalize-bottomSheet-content
  height 19rem
