/*
.codehilite {
  margin: .5em 0;
  padding: .5em;
  background-color: #FFF;
  border: 1px solid #e1e4e5;
}
*/

body {
  font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 70px;
  background: #fff;
}

.navbar {
  background-image: none;
  background-color: inherit;
  border-bottom: 1px solid #aaa;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb',endColorstr='#ff1d9ce5',GradientType=0);
  filter: none;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

.navbar-default .navbar-brand {
  color: #297ef2;
  text-shadow: none;
}

.navbar-default .navbar-nav>li>a {
  color: #bbb;
}

.navbar .navbar-nav>li>a, .navbar-brand {
  text-shadow: none;
}

h1, h2, h3, h4, h5, h6, legend {
  font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

a {
  color: #444;
}

a:hover, a:active {
  color: #297ef2;
}

.home-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.2em;
}
.home-action {
  width: 40%;
  margin: 1em
}

.home-action > * {
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 5px 20px rgba(116, 129, 146, 0.12), 0 1px 3px rgba(116, 129, 146, 0.19);
  color: #748192;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  line-height: 1.2;
  padding: 2em;
  text-align: center;
  width: 100%;
}
.home-action img {
  width: 3em;
  padding-bottom: 1em;
}

.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #297ef2;
    background-color: transparent;
    border-left: 5px solid #297ef2;
    border-right: none;
}

.wy-nav-content{
  max-width: 1400px;
  background: #fff;
}

.wy-nav-side {
  background: #F5F6F7;
  border-right: 1px solid #d6d8da;
}

.wy-side-nav-search {
  background-color: #F5F6F7;
}

.wy-side-nav-search a {
  color: #297ef2;
  font-weight: bold;
}

.wy-menu-vertical span {
  font-size: 1.2rem;
  color: #32363f;
  text-align: center;
  padding: 1rem;
}

.wy-menu-vertical a {
  color: #5d6165;
}
.wy-menu-vertical li.current {
  background: none;
}

.wy-menu-vertical li.on a,
.wy-menu-vertical li.current>a {
  color: #297ef2;
  border: none;
  border-left: 5px solid #297ef2;
  background: none;
}

.download-button {
  width: 200px;
}
.download-block {
  width: calc(49% - 2em);
  margin: 1em;
  float: left;
}
.download-link a {
  color:#FFF;
  background-color: #297ef2;
  font-weight: bold;
  padding: 1em;
  border-radius: .25em;
}
.page-404 {
  font-size: 1.6em;
  font-weight: bolder;
  margin: 10vw;
  text-align: center;
}
