@require 'settings/breakpoints'

.ErrorCard
    padding 1.5rem
    background-color var(--chablis)
    border-radius 6px
    text-align left

    +small-screen()
        padding 1rem

.ErrorCard__text a
    font-weight bold
    text-decoration none
    color var(--primaryColor)
