@require '~components/Table/styles' // table need to be required before since we override some styles
@require '~styles/mixins.styl'
@require 'settings/breakpoints'

.ColumnSizeCheckbox
    maxed-flex-basis 4%
    min-width 3rem

.ColumnSizeDesc
    maxed-flex-basis 40%

.ColumnSizeDate
    maxed-flex-basis 13%
    color var(--coolGrey)
    text-align right

.ColumnSizeAmount
    maxed-flex-basis 20%
    text-align right

.ColumnSizeAction
    maxed-flex-basis 23%

.TransactionTable
    color var(--primaryTextColor)

    thead
        // Force to have the same alignment as the tbody
        // otherwise the scroll track is only on the tbody and
        // causes a misalignment between the thead and tbody
        overflow-y scroll

    .bnk-transaction-mobile-action
        position relative
        flex-basis 2.5rem
        flex-shrink 0
        flex-grow 0
        margin-left 1rem

        &:before
            content ''
            position absolute
            top 50%
            left -.0635rem
            width: .0635rem
            height 1.5rem
            background-color var(--silver)
            transform translateY(-50%)

    .bnk-op-caticon
        cursor pointer

    tbody
        overflow inherit!important

        .bnk-op-actions
            padding 0 2rem 0 0

            > div
                float right


.TransactionRow
    &:hover:not(.TransactionRow--editable)
        background-color none

.TransactionRow--editable
    cursor pointer

    .ColumnSizeCheckbox span
        visibility hidden
    &:hover
        .ColumnSizeCheckbox span
            visibility visible

.TransactionRow--selected
    &
    &:hover
        background-color var(--zircon) !important

    .ColumnSizeCheckbox span
        visibility visible

// For now, all mouvements from same category use the same icon
categories = kids dailyLife educationAndTraining health homeAndRealEstate incomeCat activities excludeFromBudgetCat services tax transportation goingOutAndTravel uncategorized

// TODO use function to get each movement icon instead of category icon
getTemporaryCatBkg(categoryLabel)


for category in categories
    .bnk-table-desc--{category}
        icon = '../../assets/icons/categories/icon-cat-%s.svg' % category
        background-image embedurl(icon) // @stylint ignore

+medium-screen()
    .c-table-body .c-table-row
        font-size 0.8em
    .c-table-cell.bnk-table-desc
        padding-left    4em

.TransactionRowMobile
    flex-direction column
    align-items flex-start
    justify-content center

.TransactionRowMobile__actions
    display flex
    flex-wrap wrap
    padding-left 2.5rem

    // We may have an action that matches, but render nothing. In that case,
    // this element exists, but is empty. We want to hide it to avoid extra
    // margins
    &:empty
        display none

.TransactionRowMobileImg
    line-height 1.5
    text-align right

.CategoryIconButton.CategoryIconButton
    padding 6px
    margin-right -6px
