
.TransactionModalRow
    min-height 57px
    box-sizing border-box
    padding: 12px 24px

    &.TransactionModalRow-clickable:hover
        background var(--paleGrey)

.TransactionModalRow-disabled
    color var(--coolGrey)
    font-style italic
    cursor default
