@require 'settings/breakpoints'
@require '../../components/Header/Header.styl'

// HistoryChart has a different height if it's on small size or medium size
// See TransactionHeader.jsx
+medium-screen()
    .TransactionPage__transactions
       belowHeader(15rem)
+small-screen()
    .TransactionPage__transactions
        belowHeader(7rem)
