@require 'settings/breakpoints'

.Separated > * + *
    border-top 1px solid var(--silver)

.TransactionModalRow
    min-height 57px
    box-sizing border-box
    padding: 12px 24px

.TransactionModalRow-disabled
    color var(--coolGrey)
    font-style italic
    cursor default

.TransactionModalRowIcon-reversed
    transform rotate(180deg)

.TransactionLabel
    font-weight bold
    line-height 1.5
    color var(--charcoalGrey)

.TransactionInfo
    line-height 1.7
    font-size 14px
    color var(--coolGrey)

.TransactionInfoLabel
    display inline-block
    margin-right 8px
    color var(--charcoalGrey)
