@require 'settings/breakpoints'

.TransactionModalRowIcon-reversed
    transform rotate(180deg)

.TransactionInfo
    line-height 1.7
    font-size 14px
    color var(--primaryTextColor)

.TransactionInfoLabel
    margin-right 8px
    color var(--secondaryTextColor)
