@require 'settings/breakpoints'

.TransactionModalHeading
    text-align center
    padding-top 4px

.TransactionModalSeparator
    margin-top 0
    margin-bottom 0
    border 0
    border-top 1px solid var(--silver)

.TransactionModalRow
    min-height 57px

    & + &
        border-top 1px solid var(--silver)

.TransactionModalRow-disabled
    color var(--coolGrey)
    font-style italic
    cursor default

.TransactionModalRow-clickable
    cursor pointer

.TransactionModalRow-multiline
    padding-top 12px
    padding-bottom 12px

.TransactionModalRowIcon
    margin-right 24px

.TransactionModalRowIcon-alignTop
    padding-top 16px

.TransactionModalRowIcon-reversed
    transform rotate(180deg)

.TransactionLabel
    font-weight bold
    line-height 1.5
    color var(--charcoalGrey)

.TransactionInfos
    margin-top 8px

.TransactionInfo
    line-height 1.7
    font-size 14px
    color var(--coolGrey)

.TransactionInfoLabel
    display inline-block
    margin-right 8px
    color var(--charcoalGrey)
