@require 'settings/breakpoints'

.TransactionsHeader__chart
    margin-bottom -72px

    +small-screen()
        margin-bottom -40px

.TransactionsHeader__selectDatesContainer
    position relative
    padding-bottom 12px

.TransactionHeader__accountSwitchContainer
    display flex
    align-items center
